# variable de entono
# Azure OpenAI
AZURE_DEPLOYMENT_NAME=nombre_del_deployment
AZURE_ENDPOINT=https://tu-instancia.openai.azure.com
AZURE_API_KEY=tu_api_key_aqui

# Anthropic (Claud
ANTHROPIC_API_KEY=tu_api_key_de_anthropic_aqui
ANTHROPIC_MODEL_ID=claude-3-5-sonnet-20240620

# Directorios de trabajo del Agente (valores por defecto recomendados)
INPUT_DIRECTORY=Inputs
OUTPUT_DIRECTORY=Outputs
